@import "tailwindcss";

:root {
  --radial-gradient-background: 250, 250, 250;
  --blue-background: rgb(0, 68, 255);
  --purple-background: rgb(147, 7, 241);
  --light-blue-overlay: 100, 149, 237;
  --light-purple-overlay: 138, 43, 226;
}

@theme {
  --font-sans-serif: var(--font-styrene-b), ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.radial-gradient {
  background: radial-gradient(
      circle at 50% 0%,
      rgba(var(--radial-gradient-background), 0.05) 0%,
      transparent 30%
    )
    linear-gradient(to bottom, rgb(0, 68, 255), rgb(142, 4, 234));
}

.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
}

.linear-overlay {
  background-image: linear-gradient(
    -75deg,
    rgba(100, 149, 237, 0.1) calc(var(--x) + 20%),
    rgba(138, 43, 226, 0.5) calc(var(--x) + 25%),
    rgba(100, 149, 237, 0.1) calc(var(--x) + 100%)
  );
  mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
  -webkit-mask: linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

@layer components {
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-purple-500;
  }

  .input-box {
    @apply w-[300px] border-none bg-gray-100 p-3 pe-10 ps-4 focus:outline-none rounded-xl text-sm;
  }

  .input-icon {
    @apply absolute right-[10px] top-[30%] text-[#888] font-medium;
  }

  body {
    @apply font-sans-serif;
  }
}

.bg-aurora {
  background: linear-gradient(180deg, #3b4252, #4a4e69, #656996, #8181b3);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.7);
}
